* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
	color: #1C1C1C;
	}

img {
	vertical-align: middle;
	padding-right: 20px;
}

#page-wrapper {
	background: #fff;
	}

header {
	height: 660px;
	background: url(assets/img/header_bg_img.png) center no-repeat;
	}

	.header-logo-wrapper {
		padding: 20px 0 0 320px;

	}
	.img-header-logo {
		padding: 0;
		width: 40px;
		height: 40px;
		float: left;
	}

	.header-logoname {
		padding: 13px 0 4px 4px; 
		font-size: 20px;
		font-weight: 300;
	}

	h1 {
		clear: both;
		text-align: center;
		color: #fff;
		padding-top: 74px;
		font-size: 100px;
		font-weight: 300;
	}

	nav {
	text-align: center;
	vertical-align: middle;
	padding: 40px 0 80px 0;
	}

	a {
		margin-right: 30px;
		text-decoration: none;
	}

	main {
		padding: 0 320px 0 320px;
	}

	.maintext {
		float: left;
		width: 843px;
	}

h2 {
	font-size: 32px;
	font-weight: 700;
	}

	p {
		padding-top: 20px;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
	}
	
	aside {
		width: 407px;
		float: left;
	}

	.bottom {
		clear: both;
		padding-top: 80px;
		margin-bottom: 100px;
	}

	footer {
		width: 100%;
		height: 300px;
		background-color: #353636;
		padding: 60px 0 0 320px;
	}

	.footer-logo {
		margin-right: 140px;
		float: left;
	}
	
	.adress-wrapper {
		margin-right: 140px;
		float: left;
		}

	.adress-contacts-text {
		color:#fff;
		font-size: 20px;
		font-weight: 300;
		padding-top: 0px;
	}

	.adress-tel-mail {
		padding-top: 0px;
		color:#fff;
		font-size: 20px;
		font-weight: 600;
	}

	.contacts-wrapper {
		float: left;
	}